body{
    background-color: hsl(180, 76%, 45%);
    font-family: 'Courier New', Courier, monospace;
}
#cnt{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#mydiv{
    text-align: center;
}
.bttn{
    padding:10px 20px;
    font-size: 1.5em;
    color:hsl(0, 98%, 49%);
    background-color: hsl(120, 83%, 72%);
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.25s;
}
#mydiv :hover{
    background-color: hsl(120, 79%, 4%);
}